.reset_style {
    margin-left: 15px;
}
.right-pos {
    position: absolute;
    right: 35px;
    top: 87px;
}
.see-more {
    right: 38px;
    position: absolute;
    bottom: 7px;
}
.href-style {
    color: cornflowerblue;
}
.cust_stylee {
    float: left;
    margin-left: 184px;
}
.cust_styl {
    position: absolute;
    top: 10px;
    right: 10px;
}
.messagearea {
    height: 100px;
}
.card_style_rev {
    bottom: 66px;
    height: 120px;
    background: #2eb781;
    border-radius: 14px;
}
.center {
    text-align: center;
    color: white;
}
label.control-label {
    font-size: 16px;
    color: #373757;
}
.imgst {
    width: 200px;
    margin-right: 18px;
    margin-bottom: 18px;
    height: 125px;
    transition-duration: 0.5s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    object-fit: cover;
}
img {
    display: block;
    max-width: 100%;
}
.preview {
    overflow: hidden;
    width: 160px;
    height: 160px;
    margin: 10px;
    border: 1px solid red;
}
#formModal {
    overflow-y: auto;
}
.modal-xl {
    max-width: 900px;
}
.head-style {
    margin: 35px 0 0 5px;
    padding-bottom: 35px;
}
.container {
    max-width: 1170px;
    margin: auto;
}
.inbox_people {
    background: #f8f8f8 none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 40%;
    border-right: 1px solid #c4c4c4;
}

.inbox_msg {
    /* border: 1px solid #c4c4c4; */
    clear: both;
    overflow: hidden;
}
.top_spac {
    margin: 20px 0 0;
}

.recent_heading {
    float: left;
    width: 40%;
}

.srch_bar {
    display: inline-block;
    text-align: right;
    width: 60%;
    padding: ;
}
@media (min-width: 1500px) {
    .container {
        width: auto;
    }
}

.headind_srch {
    padding: 10px 29px 10px 20px;
    overflow: hidden;
    border-bottom: 1px solid #c4c4c4;
}

.recent_heading h4 {
    color: #05728f;
    font-size: 21px;
    margin: auto;
}

.srch_bar input {
    border: 1px solid #cdcdcd;
    border-width: 0 0 1px 0;
    width: 80%;
    padding: 2px 0 4px 6px;
    background: none;
}

.srch_bar .input-group-addon button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #707070;
    font-size: 18px;
}

.srch_bar .input-group-addon {
    margin: 0 0 0 -27px;
}

.chat_ib h5 {
    font-size: 15px;
    color: #464646;
    margin: 0 0 8px 0;
}

.chat_ib h5 span {
    font-size: 13px;
    float: right;
}

.chat_ib p {
    font-size: 14px;
    color: #989898;
    margin: auto;
}

.chat_img {
    float: left;
    width: 11%;
}

.chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
}

.chat_people {
    overflow: hidden;
    clear: both;
}

.chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
}

.inbox_chat {
    height: 550px;
    overflow-y: scroll;
}

.active_chat {
    background: #ebebeb;
}

.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 100%;
}

.received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 80%;
}

.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

.received_withd_msg {
    width: 80%;
}

.mesgs {
    float: left;
    padding: 30px 15px 0 25px;
    width: 100%;
}

.sent_msg p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.outgoing_msg {
    overflow: hidden;
    margin: 26px 0 26px;
}

.sent_msg {
    float: right;
    width: 80%;
}

.input_msg_write {
    height: 48px;
}

.input_msg_write textarea {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
    padding-left: 15px;
}
textarea {
    resize: none;
    overflow: hidden;
}
.msg_history {
    height: 250px;
    overflow: auto;
}
.type_msg {
    border: 1px solid #c4c4c4;
    border-radius: 16px;
    position: relative;
    width: 100%;
}

.modal-footer {
    border: none !important;
}

.msg_send_btn {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 4px;
    height: 40px;
    position: absolute;
    right: 4px;
    top: 4px;
    width: 40px;
}
.sub-title {
    color: #656565;
    margin-bottom: 20px;
}

.action-btns {
    display: flex;
    justify-content: space-between;
}

.action-btns .btn {
    width: 47%;
}
.error {
    color: red;
}

.login-form label {
    /* color: #373757; */
    text-transform: initial;
}
.toggle-password {
    margin-right: 14px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
}

.sub-title {
    color: #656565;
    margin-bottom: 20px;
}

.reset-wrapper {
    display: flex;
    justify-content: space-between;
}

.reset-wrapper .el {
    width: 49%;
}

.reset-wrapper input.el {
    height: 47px;
}
#resend strong {
    cursor: pointer;
}
#eye {
    float: right;
    margin-right: 14px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
}
.abot {
    color: #ffffff !important;
}
.error {
    color: red;
}
.login-form label {
    text-transform: none !important;
}
table .right-align {
    text-align: right;
}

table.dataTable tbody td {
    padding: 10px 18px;
}
.close {
    cursor: pointer;
}
